.br-1 {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.item-center {
    text-align: -webkit-center;
}

.mt-1 {
    margin-top: 1rem;
}
.m-a {
    margin: auto;
}
.p-3 {
    padding: 3%;
}

.pt-2 {
    padding-top: 2%;
}

.pl-30 {
    padding-left: 3%;
}

.pr-3 {
    padding-right: 3%;
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.w-120px {
    width: 120px;
}

.h-200px {
    height: 200px;
}

.w-50px {
    width: 50px;
}

.w-100px {
    width: 100px;
}

.w-120px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.qi-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fw-700 {
    font-weight: 700;
}

.fs-25 {
    font-size: 250%;
}

@media screen and (max-width: 650px) {
    .h-200 {
        height: 80px;
    }
    
    .w-200 {
        width: 80px;
    }
}