.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    z-index: 1;
}

.header a {
    float: left;
    color: #000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgba(30, 143, 255, 0.164);
    color: black;
}

.header a.se {
    background-color: dodgerblue;
    color: white;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

* {
    box-sizing: border-box
}


/* Slide show ---------------------------------------------------------------------------------------------- */

body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    color: rgb(36, 36, 36);
    padding: 9px;
    font-size: 25px;
    letter-spacing: 6px;
}

@media only screen and (max-width: 767px) {
    .caption span.border{
      font-size: 14px;
      font-weight: bold;
    }
    .header a.logo {
        font-size: 20px;
    }
}

  

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/* news letter */

.newsletter-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

label {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: rgb(43, 43, 43);
    color: white;
  }
  
  input[type="submit"].disabled {
    background-color: gray;
    color: lightgray;
    cursor: not-allowed;
  }

/* footer */

/* footer */

footer {
    z-index: 2;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 16px 72px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

@media screen and (max-width: 400px) {
    footer {
        padding: 1em 2em;
    }
}

footer h1,
footer h2,
footer h3 {
    color: white;
    margin: 0;
}

footer a {
    color: white;
    opacity: 0.8;
}

footer .social-networks {
    gap: 0.25em;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

footer .social-networks i {
    margin-left: 8px;
    margin-right: 8px;
}

footer .navigation-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
}

footer .navigation-footer h1,
footer .navigation-footer h2,
footer .navigation-footer h3 {
    font-size: 1.25em;
}

footer .navigation-footer .section-entry {
    display: flex;
    flex-direction: column;
}

footer .call-to-action-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .call-to-action-footer .lets-transform {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer .call-to-action-footer .add-cta {
    margin-top: 1.5em;
}

@media (max-width: 600px) {
    footer .call-to-action-footer {
        flex-direction: column;
    }
}

footer .call-to-action-footer h2 {
    font-size: 1.5em;
}

footer .call-to-action-footer h3 {
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    footer .navigation-footer {
        flex-direction: column;
    }
}

@media only screen and device-width < 768px {
    .container {
      width: 100%;
      margin: 0;
    }
  }

/*CARD*/

.a-cardui.fluid-fat-image-link .a-cardui-body .center-image{
    height:100%;
    width:100%
}
.fluid-card{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column
    ;flex-direction:column
}
.fluid-card.a-cardui .a-cardui-body{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    height:275px;
    margin-bottom:44px;
    padding:0 20px
}
.fluid-image-container{
    height:100%;
    overflow:hidden;
    position:relative;
    width:100%
}
.fluid-image-container img{
    bottom:-9999px;
    left:-9999px;
    margin:auto;
    position:absolute;
    right:-9999px;
    top:-9999px
}
.fluid-image-container .landscape-image{
    height:100%;
    max-height:100%;
    max-width:none
}
.fluid-image-container .portrait-image{
    max-height:none;
    max-width:100%;
    width:100%
}

/* Alert */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    margin-left: 10%;margin-right: 10%;
  }
  
  .alert.success {background-color: #04AA6D;margin-left: 10%;margin-right: 10%;}
  .alert.info {background-color: #2196F3;margin-left: 10%;margin-right: 10%;}
  .alert.warning {background-color: #ff9800;margin-left: 10%;margin-right: 10%;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: rgb(75, 75, 75);
  }
  
  #sticky-header {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #dddddd00;
    padding: 10px;
    z-index: 10;

  }

  ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    border: 1px solid #dddddd00;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f600;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
  }
  
  .closebtn {
    cursor: pointer;
  }
  
  #WarningAlert {
    display: none;
  }

  #SuccessAlert {
    display: none;
  }